.settings-section .btn-1 {
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 14px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-width: 140px;
    text-align: center;
    margin: 5px;
}
#Registerbtn button{
    /* display: flex; */
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
    background-color: #0871b7;
    color: white;
    padding: 5px 10px;
    margin: 10px;
}
#RegisterForm-Container{
    background-color: rgb(255, 254, 250);
    width: fit-content;
    padding: 20px 150px;
    box-shadow: 4px 4px 14px 1px ;
    height: fit-content;
    margin-top: 50PX;

}